<table class="dataTable">
  <thead>
    <tr>
      <th width="100">SSN</th>
      <th>Name</th>
      <th>DOB</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <%= content_tag :td, (link_to person.ssn, {:action => 'edit', :id => person}) %>
        <%= content_tag :td, (link_to person.full_name, {:action => 'edit', :id => person}) %>
        <% if person.dob %>
          <%= content_tag :td, person.dob.strftime("%B %d, %Y") %>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>