<% javascript 'http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAoUvHeNkCqYkSSmszSlvcPRQDfsbzWxkJZPiM3BNlq1x21MI7KxQvtU97KgACuntswUmuPbsv57hFsA' %>
<% javascript 'http://mapstraction.com/src/mapstraction.js' %>
<% javascript 'http://mapstraction.com/src/mapstraction-geocode.js' %>
<% javascript 'incident_map' %>


<%
# Make a Pie chart out of the most frequent offenses
top5chart = GoogleChart.pie_697x200(Hash[@offence_counts[0..4].collect{|i| [i.value, i.count]}])
top5chart.title = 'Top 5 Offences'
top5chart.colors = '346090'
%>

<%
# Make a Pie chart out of the most frequent offenses
fullchart = GoogleChart.bar_vertical_stacked_170x200(Hash[@report_counts_by_year])
fullchart.title = "Reports / Year"
fullchart.colors = '346090'
%>

<%= image_tag top5chart.to_url,
  :class => 'ui-widget ui-widget-content ui-corner-all',
  :style => 'margin:2px;padding:5px;'
%>

<%= image_tag fullchart.to_url,
  :class => 'ui-widget ui-widget-content ui-corner-all',
  :style => 'margin:2px;padding:5px;'
%>

<div id="map_canvas" class="ui-widget ui-widget-content ui-corner-all" style="height:400px;"></div>