<% javascript 'http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAoUvHeNkCqYkSSmszSlvcPRQDfsbzWxkJZPiM3BNlq1x21MI7KxQvtU97KgACuntswUmuPbsv57hFsA' %>
<% javascript 'mapstraction.js' %>
<% javascript 'mapstraction-geocode.js' %>
<% javascript 'incident_map' %>


<%
# Make a Pie chart out of the most frequent offenses
top5chart = GoogleChart.pie_697x200(Hash[@offense_counts[0..4].collect{|i| [i.value, i.count]}])
top5chart.title = 'Top 5 Offenses'
top5chart.colors = '346090'
%>

<%
# Make a Pie chart out of the most frequent offenses
fullchart = GoogleChart.bar_vertical_stacked_170x200(Hash[@report_counts_by_year])
fullchart.title = "Reports / Year"
fullchart.colors = '346090'
%>

<%= image_tag top5chart.to_url,
  :class => 'ui-widget ui-widget-content ui-corner-all',
  :style => 'margin:2px;padding:5px;'
%>

<%= image_tag fullchart.to_url,
  :class => 'ui-widget ui-widget-content ui-corner-all',
  :style => 'margin:2px;padding:5px;'
%>

<%#= image_tag @map_url + '&size=900x400', :alt => 'Incident Map',
  :class => 'ui-widget ui-widget-content ui-corner-all',
  :style => 'margin:2px;padding:5px;'
%>

<div id="map_canvas" style="margin:2px;padding:5px;height:400px;width:890px;" class="ui-widget ui-widget-content ui-corner-all"></div>