<% form_for :incident do |f| %>
  <%= f.error_messages %>

  <label>Recent Incidents</label>
  <table>
    <thead>
      <tr>
        <th width="200">Number</th>
        <th width="100">Date</th>
        <th>Narrative</th>
      </tr>
    </thead>
    <tbody>
      <% @incidents.each do |incident| %>
        <tr>
          <%= content_tag :td, (link_to incident.number, {:action => 'edit', :id => incident}) %>
          <%= content_tag :td, incident.dispatched_at.strftime("%a %b %d") %>
          <%= content_tag :td, truncate(incident.narrative, {:length => 150}) %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%#= render 'incident' %>