  <div id="vtabs">
	<ul>
		<li><a href="#agency">Agency Settings</a></li>
		<li><a href="#user">User Maintenance</a></li>
		<li><a href="#audit">Audit History</a></li>
		<li><a href="#report">Report Maintenance</a></li>
	</ul>
	<div id="agency">
		<p>
      <% form_for :agency do |f| %>
      <%= f.label 'Name' %>
      <%= f.text_field :name %>

      <br />

      <%= f.label 'Logo' %>
      <%= f.file_field :logo %>

      <% end %>
    </p>
	</div>
	<div id="user">
		<p>
      This is where you will add new users, de-activate existing ones, change passwords, etc.
    </p>
	</div>
	<div id="audit">
		<p>
      This tab will display the audit information.  Each change in the system is recorded and
      logged in the database.  That way if someone changes something by mistake it can be found
      and fixed.
    </p>
	</div>
	<div id="report">
		<p>
      You will be able to use this tab to make specific reports available to the users.
    </p>
	</div>
</div>
