@import url("http://fonts.googleapis.com/css?family=Vollkorn");
iframe#no_ie6 { width: 600px; height: 300px; overflow: hidden; border: 4px solid #777; position: absolute; top: 50px; left: 50%; margin-left: -300px; z-index: 100; }

body { font: 12px Arial, Helvetica, sans-serif;}

#header { margin:auto; height:64px; background:url("/images/logo-thumb.png") left no-repeat}
#header h1 {font-size:xx-large; padding: 20px 0px 0px 65px; font-family: 'Vollkorn', arial, serif;}
#header a {text-decoration: none;}
#footer {margin: auto;padding-top: 20px;text-align: center;font-size: 0.8em;}
#user_nav { float:right; height:25px; width:200px; text-align:center;}

div.container { background-color:transparent; margin:0px auto; padding:0; width:  950px;}

form label {display:inline-block; text-align:right; width:100px; vertical-align: top; padding-right: 10px}
form p { display:inline-block}
input.blur, textarea.blur {color:#999999;}

#sidebar { width:150px; float:left; }
#center_col { margin-left:155px; min-height:300px; }

.dataTables_wrapper { display:inline-block; position: relative; clear: both; 
  /* IE hack */
  zoom:1; *display:inline;}

.ui-icon {float:right;}

table { width:780px; }
table.full { width:inherit; }
table tr .money { text-align: right;}
.wysiwyg { display:inline-block; }


#flash { margin:auto; text-align:center }

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
.ui-tabs-vertical .dataTables_wrapper { width:100% }
/* Scaffold Defaults
----------------------------------*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
