body { font: 13px Arial, Helvetica, sans-serif; }
#header { margin:auto; padding-bottom: 20px; }
#footer {margin: auto;padding-top: 20px;text-align: center;font-size: 0.8em;}
#user_nav { float:right; }
div.container { background-color:transparent; margin:0px auto; padding:0; width:950px; }

#center_form {margin:auto; width:326px;}

form label {display:inline-block; text-align:right; width:100px; vertical-align: top; padding-right: 10px}
form p { display:inline-block}
input.blur, textarea.blur {color:#999999;}
table {
/*  display:inline-block; */
  width: 760px;
/*  border:1px solid;*/
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
